body {
	background-color: black;
	position: relative;
}

#splash {
	opacity: 100%;
	justify-content: center;
	align-content: center;
	transition: all 29s ease-out;
}

#splashTitle {
	color: white;
	text-align: center;
	margin-top: 100px;
	margin-bottom: -130px;
}

#logo {
	margin-top: 150px;
	height: 50vh;
	width: 70vw;
}

#jeopardyLogo {
	display: flex;
	justify-content: center;
	align-content: center;
}

#mainGame {
	opacity: 0%;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	
}

#title {
	text-align: center;
	color: #c69850;
	font-size: 50px;
	font-family: "Sigmar One", cursive;
	margin: -15px;
}

.whatRound, .whatRound2 {
	display: flex;
	justify-content: center;
	width: 300px;
	height: 120px;
	text-align: center;
	color: maroon;
	font-size: 28px;
	border: 1px solid gold;
	font-family: "Sigmar One", cursive;
}

.whatRound:hover, .whatRound2:hover {
	display: flex;
	justify-content: center;
	text-align: center;
	color: red;
	font-size: 28px;
	border: 3px solid white;
	font-family: "Sigmar One", cursive;
	margin-top: 10px;
	margin-left: 20px;
}

#footer,
#footer2 {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	width: 500px;
	margin-top: 10px;
}

#reset {
	margin-left: 25px;
	background-color: red;
}

#reset:hover {
	border-color: yellow;
}

#reset2 {
	margin-left: 25px;
	background-color: red;
}

#reset2:hover {
	border-color: yellow;
}

#scoreTitle,
#score,
#scoreData,
#dollar {
	display: flex;
	justify-content: center;
	text-align: center;
	color: #c69850;
	font-family: "Sigmar One", cursive;
	margin: 3px;
}

#gameBoard1 {
	display: flex;
	z-index: 0;
	flex-wrap: wrap;
	width: 1200px;
	justify-content: center;
	margin-left: 250px;
}

#gameBoard2 {
	display: none;
	flex-wrap: wrap;
	width: 1200px;
	justify-content: center;
	margin-left: 250px;
}

.categories6,
.categories7,
.categories8,
.categories9,
.categories10 {
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: #0c34ad;
	align-items: center;
	width: 220px;
	height: 120px;
	border: 2px solid gold;
	color: black;
	text-shadow: 0px 0px 4px white;
	font-size: 14px;
	font-family: "Sigmar One", cursive;
}

.trebek {
	height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: -35px;
}
.answer:hover {
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: #1942bd;
	align-items: center;
	width: 220px;
	height: 120px;
	border: 3px solid yellow;
	color: #fcf488;
	font-size: 40px;
	font-family: "Sigmar One", cursive;
}

.categories1,
.categories2,
.categories3,
.categories4,
.categories5 {
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: #0c34ad;
	align-items: center;
	text-align: center;
	width: 220px;
	height: 120px;
	border: 2px solid gold;
	color: black;
	text-shadow: 0px 0px 4px white;
	font-size: 14px;
	font-family: "Sigmar One", cursive;
}

.answer {
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: #0c34ad;
	align-items: center;
	width: 220px;
	height: 120px;
	border: 3px solid black;
	color: #fcf153;
	font-size: 40px;
	font-family: "Sigmar One", cursive;
}

.answer:hover {
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: #1942bd;
	align-items: center;
	width: 220px;
	height: 120px;
	border: 3px solid yellow;
	color: #fcf488;
	font-size: 40px;
	font-family: "Sigmar One", cursive;
}

#myModal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #1942bd;
	border: solid 5px white;
	width: 600px;
	max-width: 60%;
	height: 550px;
	max-height: 60%;
	visibility: hidden;
	border-radius: 90px;
}

#close-button {
	display: flex;
	justify-content: center;
	height: 40px;
	background-color: red;
	margin-bottom: 35px;
	border-radius: 30px;
	width: 90%;
	margin-left: 25px;
}

#modalContent {
	text-align: center;
	font-size: 20px;
	transition: all 0.3s;
}

#form {
	text-align: center;
}

#a {
	border-radius: 90px;
	margin-top: 200px;
}

#check {
	text-align: center;
	margin-top: 20px;
}

#answerContent {
	position: absolute;
	margin-left: 5px;
	justify-content: center;
	width: 520px;
	height: 100px;
	text-align: center;
	border: 3px yellow solid;
	border-radius: 90px;
	color: red;
}

#checkAnswer {
	text-align: center;
	width: 200px;
	height: 30px;
	font-size: 20px;
	background-color: green;
	border-radius: 90px;
}

.rightAnswer {
	animation: shake 2.5s;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}


/* Adjust for smaller screens */
@media screen and (max-width: 600px) {
	#title {
		text-align: center;
		color: #c69850;
		font-size: 20px;
		font-family: "Sigmar One", cursive;
		margin: -15px;
	}

	#whatRound {
		display: flex;
		justify-content: center;
		text-align: center;
		color: maroon;
		font-size: 10px;
		border: 1px solid gold;
		font-family: "Sigmar One", cursive;
	}

	#whatRound:hover {
		display: flex;
		justify-content: center;
		text-align: center;
		color: red;
		font-size: 10px;
		border: 3px solid white;
		font-family: "Sigmar One", cursive;

	}

	#footer,
	#footer2 {
		display: flex;
		justify-content: center;
		justify-items: center;
		align-content: center;
		align-items: center;
		width: 250px;
		margin-top: 205px;
		margin-left: 15px;
	}

	#scoreTitle,
	#score {
		display: flex;
		justify-content: center;
		text-align: center;
		color: #c69850;
		font-family: "Sigmar One", cursive;
		margin: 3px;
	}

	#gameBoard1 {
		display: flex;
		z-index: 0;
		flex-wrap: wrap;
		width: 500px;
		justify-content: center;
		margin-left: -45px;
	}

	#gameBoard2 {
		display: none;
		flex-wrap: wrap;
		width: 500px;
		justify-content: center;
		margin-left: -45px;
	}

	.categories6,
	.categories7,
	.categories8,
	.categories9,
	.categories10 {
		display: flex;
		justify-content: center;
		flex-direction: row;
		background-color: #0c34ad;
		align-items: center;
		width: 60px;
		height: 30px;
		border: 2px solid gold;
		color: black;
		text-shadow: 0px 0px 4px white;
		font-size: 6px;
		font-family: "Sigmar One", cursive;
	}

	.trebek {
		height: 50px;
		width: 50px;
		margin-top: 210px;
		/* margin-right: 10px; */
		margin-left: -320px;
	}
	.answer:hover {
		display: flex;
		justify-content: center;
		flex-direction: row;
		background-color: #1942bd;
		align-items: center;
		width: 60px;
		height: 30px;
		border: 3px solid yellow;
		color: #fcf488;
		font-size: 10px;
		font-family: "Sigmar One", cursive;
	}

	.categories1,
	.categories2,
	.categories3,
	.categories4,
	.categories5 {
		display: flex;
		justify-content: center;
		flex-direction: row;
		background-color: #0c34ad;
		align-items: center;
		text-align: center;
		width: 60px;
		height: 30px;
		border: 2px solid gold;
		color: black;
		text-shadow: 0px 0px 4px white;
		font-size: 7px;
		font-family: "Sigmar One", cursive;
	}

	.answer {
		display: flex;
		justify-content: center;
		flex-direction: row;
		background-color: #0c34ad;
		align-items: center;
		width: 60px;
		height: 30px;
		border: 3px solid black;
		color: #fcf153;
		font-size: 14px;
		font-family: "Sigmar One", cursive;
	}

	.answer:hover {
		display: flex;
		justify-content: center;
		flex-direction: row;
		background-color: #1942bd;
		align-items: center;
		width: 60px;
		height: 30px;
		border: 3px solid yellow;
		color: #fcf488;
		font-size: 10px;
		font-family: "Sigmar One", cursive;
	}

	#myModal {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #1942bd;
		border: solid 5px white;
		width: 500px;
		max-width: 70%;
		height: 600px;
		max-height: 70%;
		visibility: hidden;
		border-radius: 90px;
	}

	#close-button {
		display: flex;
		justify-content: center;
		height: 20px;
		background-color: red;
		margin-bottom: 10px;
		border-radius: 30px;
		max-width: 70%;
		margin-left: 50px;
		margin-top: -20px;
	}

	#modalContent {
		text-align: center;
		font-size: 14px;
		transition: all 0.3s;
	}

	#form {
		text-align: center;
	}

	#a {
		border-radius: 90px;
		margin-top: 70px;
	}

	#check {
		text-align: center;
		margin-top: 10px;
	}

	#answerContent {
		position: absolute;
		justify-content: center;
		width: 250px;
		height: 50px;
		text-align: center;
		border: 3px yellow solid;
		border-radius: 90px;
		color: red;
		margin-top: 5px;
		margin-bottom: 15px;
		margin-left: 50px;
	}

	#checkAnswer {
		text-align: center;
		width: 50px;
		height: 15px;
		font-size: 10px;
		background-color: green;
		border-radius: 90px;
	}
}

